In [1]:
import numpy as np
import pandas as pd

In [2]:
asd = [1,2,3,4,4,5,6,6,7,9]

In [4]:
asd =pd.DataFrame(asd)

In [8]:
times = pd.date_range('2019-11-30',periods=10)
times

DatetimeIndex(['2019-11-30', '2019-12-01', '2019-12-02', '2019-12-03',
               '2019-12-04', '2019-12-05', '2019-12-06', '2019-12-07',
               '2019-12-08', '2019-12-09'],
              dtype='datetime64[ns]', freq='D')

In [12]:
asd.index = [x for x in pd.date_range('2019-11-30',periods=10)]

In [13]:
asd

            0
2019-11-30  1
2019-12-01  2
2019-12-02  3
2019-12-03  4
2019-12-04  4
2019-12-05  5
2019-12-06  6
2019-12-07  6
2019-12-08  7
2019-12-09  9

In [28]:
times = pd.date_range(asd.index.values[-1] + pd.offsets.Day(1),periods=10)

In [29]:
times

DatetimeIndex(['2019-12-10', '2019-12-11', '2019-12-12', '2019-12-13',
               '2019-12-14', '2019-12-15', '2019-12-16', '2019-12-17',
               '2019-12-18', '2019-12-19'],
              dtype='datetime64[ns]', freq='D')